#title {
  background-color: #ff4c68;
  color: #fff;
}
body {
  font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat-bold";
  font-weight: 900;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  color: #8f8f8f;
}

.big-heading {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* navbar */
.navbar {
  padding: 0 0 4rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  font-weight: lighter;
}

/* button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
}

/* features-section  */
#features {
  padding: 10% 20%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #ef8172;
  padding: 15px 15px;
}
.icon:hover {
  color: #ff4c68;
}
/* testimonials section  */
#testimonials {
  padding: 10% 20%;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image {
  width: 20%;
  border-radius: 100%;
  margin: 50px 50px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 80%;
  }
}
#cta {
  background-color: #ff4c68;
  padding: 40px 40px;
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
}
#cta h3 {
  font-size: 3.5rem;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-size: 1rem;
}
#footer a {
  padding: 10px 10px;
  color: black;
}
